/*  FENIX COMMONS */

body{
  color: #666666;
  font: $standard-text;
}

/* Reset Jqwidget content font */

.jqx-widget, .jqx-widget-content, .jqx-fill-state-normal{
  font: $standard-text;
}

h1, h2, h3{
  font-family: Roboto;
  color: $fenix-standard-blue;
  font-weight: 100;
  color: $fx-cool-blue;
}

#colEditTbl{
  tbody{
    td{
      padding: 10px;
      border: 0;
    }
    #colEditTitle{
      >div{
        border: 1px solid #c7c7c7 !important;

      }
    }
  }

}

.fx-validation{
  @include animate;
  width: 150px;
}

.fx-red-cell{
  background-color: orangered;
  color: white;
  width: 200px;
}

.obj-box {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFFFF;
  border-color: #D8D8D8;
  border-image: none;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  margin: 10px 0 20px;
  padding: 20px;
  width: auto;
}