/*  FENIX COMMONS */

body{
  color: #666666;
  font: $standard-text;
}

/* Reset Jqwidget content font */

.jqx-widget, .jqx-widget-content, .jqx-fill-state-normal{
  font: $standard-text;
}

h1, h2, h3{
  font-family: Roboto;
  color: $fenix-standard-blue;
  font-weight: 100;
  color: $fx-cool-blue;
}

#colEditTbl{
  tbody{
    td{
      padding: 10px;
      border: 0;
    }
    #colEditTitle{
      >div{
        border: 1px solid #c7c7c7 !important;

      }
    }
  }

}

.fx-validation{
  @include animate;
  width: 150px;
}

.fx-red-cell{
  background-color: orangered;
  color: white;
  width: 200px;
}