<button id="colsDisplayColEdit" title="{{btnEdit}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> </button>
<button id="colsDisplayColDel" title="{{btnDel}}" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> </button>