<div class="row fx-description">
    <div class="col-xs-12">
        <p>Welcome to the Fenix Platform Data Editor. You can use the Column editor on the left (1) to add and modify columns. These are displayed in the right side (2), where you can check your personalized columns.  </p>
    </div>
</div>
<div class="row">
    <div id="divColEdit" class="col-md-4 col-xs-12">
        <div id="cntColEdit"></div>
        <div>
            <button id="bntColEditOk" type="button" class="btn btn-default">
                OOOOO</button>
            <!--<button id="bntColEditCanc" type="button" class="btn btn-default">-->
                <!--Cancel</button>-->
            <button id="bntColReset" type="button" class="btn btn-default">
                Reset</button>
        </div>
    </div>

    <div id="divDSDGrid" class="col-md-8 col-xs-12">
        <h3> Column resume </h3>
        <div id="cntDSDGrid">

        </div>
        <!--<div>-->
        <!--<button id="DSDEdit_btnAddCol" type="button" class="btn btn-default">-->
        <!--Add</button>-->
        <button id="btnColsEditDone" type="button" class="btn btn-default">-->
            Done</button>
    </div>
</div>
