
<div class="row">
    <div class="fx-bootstrap-equalheight-container">
    <div id="divColEdit" class="col-md-4 col-xs-12 fx-bootstrap-equalheight-column">
        <div id="cntColEdit"></div>
        <div class="fx-dsdedit-addcolumn-btn">
            <button id="bntColEditOk" type="button" class="btn btn-default">
                OOOOO</button>
            <!--<button id="bntColEditCanc" type="button" class="btn btn-default">-->
                <!--Cancel</button>-->
            <button id="bntColReset" type="button" class="btn btn-default">
                Reset</button>
        </div>
    </div>

    <div id="divDSDGrid" class="col-md-8 col-xs-12 fx-bootstrap-equalheight-column fx-gray-leftBorder">
        <h3> <em class="fx-bullet-number">2</em> Structure resume </h3>
        <div id="cntDSDGrid">

        </div>
        <!--<div>-->
        <!--<button id="DSDEdit_btnAddCol" type="button" class="btn btn-default">-->
        <!--Add</button>-->

    </div>


    </div>

</div>

