<table class="table roundBorder">
    <thead>
        <tr id="addColH">
            <th class="btnAddColHead">
                <span id="btnAddColButtonTitle"></span>
                <br />
                <button title="{{btnAdd}}" id="btnAdd" type="button" class="btn btn-primary fx-button-primary-color"><span class="glyphicon glyphicon-plus"></span></button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="tdAddColButton_help"></td>
        </tr>
    </tbody>
</table>